body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9dede;
}

header {
    background-color: #b36868;
    color: #fff;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Optional: Adjust based on your design */
    margin: 0 auto;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-text {
    text-align: center;
}

.header-text h1 {
    margin: 0;
}

nav {
    margin-top: auto; /* Pushes the navigation to the bottom */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation items */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    color: #333;
}

.skill {
    margin: 1rem 0;
}

.progress {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0.5rem;
}

.progress-bar {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem;
    text-align: right;
    border-radius: 5px 0 0 5px;
}

.project {
    margin: 1rem 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color:#b36868;;
    color: #fff;
}

#contact p a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

#contact p a:hover {
    color: #0073b1; /* LinkedIn color */
}

#contact p a:nth-child(2):hover {
    color: #333; /* GitHub color */
}

#contact p a:nth-child(3):hover {
    color: #E4405F; /* Instagram color */
}
